DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
MONGODB_URI=
REDIS_URL=
GROQ_API_KEY=
HF_TOKEN=
MEETING_VOICE_CHANNEL_ID=
MEETING_TEXT_CHANNEL_ID=
MEETING_TIME=17:00
MEETING_DURATION_MINUTES=30
REMINDER_MINUTES_BEFORE=5
